[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
django-templated-mail = "*"
django-inlinecss = "*"
redis = "*"
pytest = "*"
twilio = "*"
python-decouple = "*"
whitenoise = "*"
pyzbar = "*"
python-barcode = {extras = ["images"], version = "*"}
django-imagekit = "*"
fontawesomefree = "*"
tailwind = "*"
django-compressor = "*"
django-formify = "*"
faker = "*"
graphviz = "*"
pydot = "*"
pyparsing = "*"
django-extensions = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.9"
