<!-- myapp/templates/myapp/image_grid.html -->
{% extends 'core/base_generic.html' %}
{% block title %}
  Dashboard for {{ username }}
{% endblock %}
{% load static %}

{% comment %} <link rel="stylesheet" href="{% static 'images/img-grid.css' %}" /> {% endcomment %}
{% block content %}
  <div class="text-center pa-2 mt-2">Welcome {{ username }} to Perihelion IMS</div>
  <div class="flex justify-center items-center h-screen">
    <div class="grid grid-cols-5 gap-4">
      <!-- Replace these placeholders with actual image URLs -->
      <a href="{% url 'dashboard' %}" title="View Gatlinburg, Tennessee on Google Maps" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="Dashboard" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">Dashboard</div>
      </a>
      <a href="{% url 'profile' %}" title="View Gatlinburg, Tennessee on Google Maps" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="Dashboard" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">profile</div>
      </a>
      <a href="{% url 'product-search' %}" title="View Gatlinburg, Tennessee on Google Maps" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="Dashboard" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">product-search</div>
      </a>
      <a href="{% url 'view-users' %}" title="View Gatlinburg, Tennessee on Google Maps" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="view-users" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">view-users</div>
      </a>
      <a href="{% url 'transactions' %}" title="View Gatlinburg, Tennessee on Google Maps" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="transactions" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">Transactions</div>
      </a>
      <a href="{% url 'product-list' %}" title="View Gatlinburg, Tennessee on Google Maps" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="Dashboard" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">product-list</div>
      </a>

      <a href="{% url 'users-crud-view' %}" title="CRUD Users" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="Dashboard" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">CRUD Users</div>
      </a>
      <a href="" title="View Gatlinburg, Tennessee on Google Maps" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="Dashboard" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">TBD</div>
      </a>
      <a href="" title="View Gatlinburg, Tennessee on Google Maps" class="relative">
        <img src="{% static 'images/5bean.jpg' %}" alt="Dashboard" class="w-full h-auto" />
        <div class="absolute inset-0 flex items-center justify-center text-white text-xl font-bold bg-black bg-opacity-50">TBD</div>
      </a>
    </div>
  </div>
{% endblock %}
