<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <div id="product-list">
        {% for product in products %}
            <div>{{ product.name }}</div>
        {% endfor %}
    </div>
    <div id="pagination-controls">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">Previous</a>
        {% endif %}
        <span>Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">Next</a>
        {% endif %}
    </div>


    
</body>
</html>
