{% extends 'core/base_generic.html' %}
{% block title %}
  Inventory
{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Inventory List</h1>
  {{ user.get_username }}
  <style>
    .table-cell-width {
      width: 25%; /* Adjust as needed */
    }
  </style>

  <form method="get" action="" class="mb-4">
    <input type="text" name="q" placeholder="Search by name" value="{{ query|default:'' }}" class="border rounded px-2 py-1" />
    <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded ml-2">Search</button>
  </form>

  {% if product_list %}
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th class="py-2 table-cell-width">
            <a href="?sort_by=title&order={% if sort_by == 'title' and order == 'asc' %}
                
                
                desc


              {% else %}
                
                
                asc


              {% endif %}{% if query %}
                
                
                &q={{ query }}
              {% endif %}"
              class="text-blue-500 hover:underline">
              Title
            </a>
          </th>
          <th class="py-2 table-cell-width">
            <a href="?sort_by=inventory&order={% if sort_by == 'inventory' and order == 'asc' %}
                
                
                desc


              {% else %}
                
                
                asc


              {% endif %}{% if query %}
                
                
                &q={{ query }}
              {% endif %}"
              class="text-blue-500 hover:underline">
              Inventory
            </a>
          </th>
          <th class="py-2 table-cell-width">Last Update</th>
          <th class="py-2 table-cell-width">Collection</th>
          {% if not is_staff %}
            <th class="table-cell-width">Request</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
          <tr>
            <td class="py-2">
              <a href="{{ product.get_absolute_url }}" class="text-blue-500 hover:underline">{{ product.title }}</a>
            </td>
            <td class="py-2 text-center">{{ product.inventory }}</td>
            <td class="py-2 text-center">{{ product.last_update }}</td>
            <td class="py-2 text-center">{{ product.collection }}</td>
            {% if not is_staff %}
              <td class="py-2 text-center">
                <form method="post" action="">
                  {% csrf_token %}
                  <label for="number"></label>
                  <input id="number" type="number" value="0" />
                  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
                </form>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="flex justify-center mt-4">
      <div id="pagination-controls" class="mt-4">
        {% if product_list.has_previous %}
          <a href="?page=1{% if query %}
              
              
              &q={{ query }}
            {% endif %}"
            class="text-blue-500 hover:underline">
            First
          </a>
          <a href="?page={{ product_list.previous_page_number }}{% if query %}
              
              
              &q={{ query }}
            {% endif %}"
            class="text-blue-500 hover:underline ml-2">
            Previous
          </a>
        {% endif %}
        <span class="ml-2">Page {{ product_list.number }} of {{ product_list.paginator.num_pages }}</span>
        {% if product_list.has_next %}
          <a href="?page={{ product_list.next_page_number }}{% if query %}
              
              
              &q={{ query }}
            {% endif %}"
            class="text-blue-500 hover:underline ml-2">
            Next
          </a>
          <a href="?page={{ product_list.paginator.num_pages }}{% if query %}
              
              
              &q={{ query }}
            {% endif %}"
            class="text-blue-500 hover:underline ml-2">
            Last
          </a>
        {% endif %}
      </div>
    </div>

    <div class="flex justify-center mt-4">
      <form method="get" action="" class="mt-4">
        <label for="page" class="mr-2">Go to page:</label>
        <input type="number" id="page" name="page" min="1" max="{{ product_list.paginator.num_pages }}" required class="border rounded px-2 py-1" />
        <input type="hidden" name="q" value="{{ query|default:'' }}" />
        <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded ml-2">Go</button>
      </form>
      {% else %}
      <p class="mt-4">There are no products in the inventory.</p>
    </div>
  {% endif %}
{% endblock %}
