{% extends 'core/base_generic.html' %}
{% block title %}
  CRUD Users
{% endblock %}
{% block content %}
  <div class="container mx-auto p-4">
    <h2 class="text-xl font-semibold mb-4">Create User</h2>
    <form method="post" action="" class="space-y-4">
      {% csrf_token %}
      <div class="flex flex-col space-y-2">
        <label for="first_name" class="text-gray-600">First Name:</label>
        <input type="text" id="first_name" name="first_name" required class="border rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-500" />
      </div>

      <div class="flex flex-col space-y-2">
        <label for="last_name" class="text-gray-600">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required class="border rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-500" />
      </div>

      <div class="flex flex-col space-y-2">
        <label for="email" class="text-gray-600">Email Address:</label>
        <input type="email" id="email" name="email" required class="border rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-500" />
      </div>

      <div class="flex flex-col space-y-2">
        <label for="password" class="text-gray-600">Password:</label>
        <input type="password" id="password" name="password" required class="border rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-500" />
      </div>

      <div class="flex flex-col space-y-2">
        <label for="confirm_password" class="text-gray-600">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required class="border rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-500" />
      </div>

      <div class="flex items-center space-x-2">
        <input type="checkbox" id="is_staff" name="is_staff" value="is_staff" class="text-blue-500 focus:ring focus:border-blue-500" />
        <label for="is_staff" class="text-gray-600">Set as Staff</label>
      </div>

      <div class="flex items-center space-x-2">
        <input type="checkbox" id="superuser" name="superuser" value="Administrator" class="text-blue-500 focus:ring focus:border-blue-500" />
        <label for="superuser" class="text-gray-600">Set as Admin</label>
      </div>

      <!-- Add similar styling for the Employee ID field -->

      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition-all">Create User</button>
    </form>

    <!-- Add styling for other sections (Delete User, Reset User Password) if needed -->
  </div>
{% endblock %}
